<%- layout("/layouts/boilerplate") -%>
    <div class="row">
    <div class="col-8 offset-2">
    <h2>Create New Listing</h2>
    <form method="POST" action="/listings" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="title" placeholder="enter title" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter Title</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" placeholder="enter description" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter Description</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input name="image[url]" placeholder="enter image URL" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input name="price" placeholder="enter price" type="number" class="form-control" required>
            <div class="invalid-feedback">Please enter valid Price</div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="location" placeholder="enter location" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter valid Location</div>
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input name="country" placeholder="enter country" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter valid Country</div>
        </div>
        <button class="btn btn-dark add-btn">Add</button>
    </form>
    </div>
    </div>